.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-img {
  width: 50%;
  aspect-ratio: 5/5;
  border-radius: 50%;
  object-fit: cover;
}
